


.page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.55;
    color: white;
    background-color:#212529;
}

.record {
    background-color:#fbfcfc;
    max-width: 40%;
    margin: auto;
    color: black;
    padding: 3.5px;
}

.top {
	text-align: center;
}

.activeStreak {
    color: red;
}

table {
    counter-reset: rowNumber-1;
    table-layout: auto;
}

td {
    padding: 3.5px;
    text-align: center;
}
.rowNumber {
    width: 3%;
}

table tr {
    counter-increment: rowNumber;
    text-align: center;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
   
}



